- if users.empty?
  = t('user.empty')

- else
  .row.paginate
    .col-md-8
      = paginate users
    .col-md-4
      %p.pull-right= [users.total_count.to_s, t('model.users').downcase].join(" ")

  %table.table.table-striped
    %thead
      %tr
        %th= t('user.name')
        %th= t('user.email')
        %th
    %tbody
      - users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td
            = link_to edit_user_path(user), :class => 'btn btn-default btn-sm', :title => t('user.edit').html_safe do
              %span.fa.fa-edit
            = link_to user_path(user), :class => 'btn btn-default btn-sm', :title => t('user.destroy').html_safe, method: :delete, data: { confirm: t('user.confirm_destroy').html_safe } do
              %span.fa.fa-times

