.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to 'VEILLE RSS', feeds_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li= link_to t('model.feeds'), feeds_path
        %li= link_to t('model.items'), items_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to current_user.name, edit_user_path(current_user)
        %li.pull-right.destroy
          = link_to destroy_user_session_path, method: :delete, alt: t('devise.logout') do
            = image_tag "exclamation.png", alt: t('devise.logout').html_safe, title: t('devise.logout'), class: :destroy


